# Set Up Programming Environment

## Needed Tools

### Environment

- Virtualbox
- Installation of ArchLinux
  - Virtual Harddisk with ArchLinux 
  // src= "ttps://www.howtoforge.com/tutorial/install-arch-linux-on-virtualbox/" 
  
  - Installation media with ArchLinux

### Tools
- Compiler
  - CLang
  - Java JDK
  - Rust
  - Go
  - Ruby
  - Python
- Editor
  - Vim/GVim
  - Nano
  - Gedit
  - ...


